{% set pagetitle = 'Log peek'|trans %}
{% extends "base.twig" %}

{% block content %}
<h2>SimpleSAMLphp logs (admin utility)</h2>

<form method="get" action="?">
    <table>
        <tr>
            <th><label for="start">First entry in logfile</label></th>
            <td id="star">{{ timestart }}</td>
        </tr>
        <tr>
            <th><label for="end">Last entry in logfile</label></th>
            <td id="end">{{ endtime }}</td>
        </tr>
        <tr>
            <th><label for="size">Logfile size</label></th>
            <td id="size">{{ filesize }} </td>
        </tr>
        <tr>
            <th><label for="tag">Tag id for search</label></th>
            <td><input type="text" name="tag" id="tag" value="{{ trackid }}" /></td>
        </tr>
        <tr>
            <th><input type="submit" value="Search log" /></th>
            <td></td>
        </tr>
    </table>
</form>

<pre style="background: #eee; border: 1px solid #666; padding: 1em; margin: .4em; overflow: scroll">

{% for index, line in results %}
    {{ line|escape('html') }}
{% endfor %}
</pre>
{% endblock %}
